.DS_Store
*.swp
*.swo
config/database.yml
config/email.yml
config/application.yml
config/settings.yml
config/couchdb.yml
notes
schema.rb
*~
mockups
rerun.txt
nbproject
Gemfile.lock
log/*
.idea/*
config/*.yml

